.menu-item.active {
    background: #F1F5F9;
    border-radius: 60px 0 0 60px;
    
  }
  
  .menu-item.active > a {
    color: #000000;
  }
  
  .menu-item.active::before, .menu-item.active::after {
    content: "";
    position: absolute;
  }
  
  .menu-item.active::before {
    top: -80px;
    right: -1px;
    height: 80px;
    width: 40px;
    border-bottom-right-radius: 80px;
    box-shadow: 0 40px 0 0 #F1F5F9;
  }
  
  .menu-item.active::after {
    top: 56px;
    right: 0px;
    height: 80px;
    width: 40px;
    border-top-right-radius: 80px;
    box-shadow: 0 -40px 0 0 #F1F5F9;
  }
  .menu-item.active .menu-link {
    color: black;
  }
  